1 The app shall allow user to create new projects.
    1.1 When creating a new project, the user shall be able to choose project name (required) and project icon (optional).
2 The app shall allow creating new tasks.
    2.1 The user shall be able to fill out fields on the task:
        - Project (required)
        - Title (required)
        - Notes
        - Priority
        - Date (required, default today)
    2.2 The user shall have the ability to verify the completion status of a task only on or after the specified target date (due date). 
        Checking the task completion status before the target date shall not be allowed to ensure accuracy and prevent premature updates.
    2.3 Future: The user shall have the ability to specify a task as recurring. Recurring tasks are created automatically.
3 The app shall allow viewing all tasks in different ways:
    3.1 All tasks (sorted by date -> category)
    3.2 Today tasks (default)
    3.3 Tomorrow tasks
    3.4 This week tasks 
    3.5 This month tasks
    3.6 Tasks in specific categories (sorted by date)







# when adding a task, it needs to be added to the task list and DOM showing tasks must be reset
# change task field types
# style new task dialog
# style new project dialog
# change project id into project name
# implement filter today/tomorrow/all
# add icons to task filters
# add ability to apply color for projects
# change line "DOMModule.createRightDiv.createTasks(TaskModule.getTodayTasks());" to make this conditional - call function last called before dialog
# implement filter by projects
# style buttons to create new tasks and projects
# bug in line 811-815 (appears to be fixed but keep watch
style tasks view
save data
add task completion checkbox and status
add ability to delete tasks
add sort by dates in all view
add today date in today view
add tomorrow date in tomorrow view
add ability to delete projects
add responsive design



