* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(20, 20, 20);
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
    width: 100%;
}

.main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
}

.main > .left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 1fr;
    border: 0.5px solid white;
}

.main > .right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr;
    border: 0.5px solid white;
}

.right > div,
.left > div {
    border: 0.5px solid white;
}